body{
    margin: 0;
}
*{
    box-sizing: border-box;
}

div{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-weight: bold;
    font-size: 30px;
}

.box1{
    background-color: aqua;
}

.box2{
    background: url(./images/1064444_s.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    /* 下記で固定 */
    background-attachment: fixed;
}

.box3{
    background-color: rgb(229, 255, 0);
}

.box4{
    background: url(./images/3323942_m.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    /* 下記で固定 */
    background-attachment: fixed;
}